main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 30px 0px;
}

.container {
  width: 70%;
  padding: 10px;
  flex-direction: column;
  cursor: pointer;
}

.question:hover{
  background-color:#4fe0be ;
}
.question {
  padding: 1rem 1.5rem;
  background: #f0f3f9;
  margin-bottom: 1rem;
  border-radius: 15px;
  animation-name: disappear;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
}

@keyframes disappear {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.questionOpened {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: #4fe0be;
  animation-name: slideDown;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes slideDown {
  0% {
    background-color: #f0f3f9;
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    background-color: #4fe0be;
    opacity: 1;
    transform: translateY(0px);
  }
}

.questionOpened h1 {
  color: #000;
  line-height: 1.5;
  padding: 20px;
  font-size: 18px;
  padding: 20px 10px 25px;
  width : 100%;
}

.questionOpened header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionOpened p {
  text-transform: none;
  line-height: 1.5;
  color: #000;
  font-size: 18px;
  padding: 0.5px 10px 20px;
}
.questionOpened header h4 {
  margin-bottom: 0;
}
.question h1 {
  text-transform: none;
  line-height: 1.5;
  color: #000;
  font-size: 18px;
  padding: 20px 10px 20px;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question header h4 {
  margin-bottom: 0;
}

.btn {
  width: 2rem;
  height: 2rem;
  background:none ;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
  border: none;
}
.btnOpened {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
  border: none;
  background: none;
}
.btnOpened:hover,
.btnOpened:visited {
  cursor: pointer;
  color: #00192e;
  background-color: #f1f4f8;
  text-decoration: none;
  transition: all 0.01s ease-out;
  border : none;
  border-radius: 50%;
}


@media screen and (max-width: 960px) {
  .container {
    width: 90%;
  }
  .question h1 {
    font-size: 15px;
  }
  .questionOpened h1 {
    font-size: 15px;
  }
  .questionOpened p {
    font-size: 15px;
  }
}
