* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1.judul {
  padding-top: 5vw;
  padding-left: 1vw;
  width: 90vw;
  margin: auto;

  text-align: center;
  /* text-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25); */
}

.acara-container {
  /* max-height: 93vh; */
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 4vw;
  margin-bottom: 10vw;
}

.acara-card {
  flex: 1;
  background: linear-gradient(180deg, #16cecc 0%, #011a2f 80%);
  box-shadow: 0px 6px 60px 6px rgba(79, 224, 190, 0.3);
  border-radius: 30px;
  cursor: pointer;

  padding: 2vw 2vw;
  padding-top: 3vw;
  margin: 2vw 2vw;

  justify-content: space-around;
  align-items: center;
  transition-duration: 0.7s;
}

.acara-card:hover {
  transform: translateX(-3px) translateY(-5px);
  background: linear-gradient(180deg, #1ae4e0 20%, #011a2f 100%);
  filter: drop-shadow(8px 9px 10px rgba(0, 0, 0, 0.5));
}

.acara-card p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 15px;
  height: 100%;
  color: white;

  padding-top: 3vw;
  text-align: center;
}

.acara-card h1 {
  padding-top: 2vw;
  text-align: center;
  font-size: 24px;
}

.acara-icon {
  justify-content: space-around;
  width: 100%;
  height: 6vw;
}

.acara-link {
  opacity: 0;
}

.acara-link:hover {
  color: #5eff86;
  letter-spacing: 2.2px;
}

@media screen and (max-width: 960px) {
  h1.judul {
    margin-bottom: 80px;
  }

  .acara-container {
    flex-direction: column;
  }

  .acara-card {
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
  }

  .acara-card h1 {
    font-size: 18px;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .acara-icon {
    width: 100%;
    height: 10vw;
  }

  .acara-card p {
    font-size: 12px;
    padding: 2vw 2vw;
  }

  .acara-link {
    opacity: 1;

    text-align: center;
    margin-top: 6vw;
    margin-bottom: 10px;
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition-duration: 0.5s;
  }
}
