* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1.judul {
  padding-left: 1vw;
  width: 90vw;
  margin: auto;
  margin-bottom: 60px;

  text-align: center;
  /* text-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25); */
}

.timeline-card {
  width: 70%;
  margin: auto;
  margin-bottom: 15vw;
  display: block;

  background: rgba(0, 25, 46, 0.75);
  border-radius: 20px;
  padding: 2vw 2vw;
}
