.Button1 {
    margin: auto;
    color: #F1F4F8;
    font-family: Poppins;
    font-size: 24px;
    background-color: #00192E;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    text-align: center;
}

.Button1:hover, .Button1:visited {
    cursor: pointer;
    color: #00192E;
    background-color: #16CECC;
    text-decoration:none;
    transition: all 0.3s ease-out;
}

.TopButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .TopButton {
        flex-direction: column;
    }

    .Button1 {
        width: 60%;
        font-size: 15px;
    }
}